@page "/prehlad"
@page "/prehlad/{tenant}"
@attribute [Authorize]

<PageTitle>Prehľad prihlásených</PageTitle>

@using Marek.Prihlasenie.Data
@using System.Text.Json
@inject UdalostService UdalostService
@inject InfoService InfoService

<h1>Prehľad prihlásených</h1>
@if (udalosti == null)
{
    <p><em>Počkajte prosím, stránka sa načítava ...</em></p>
}
else
{
    @foreach (var udalost in udalosti)
    {
        <h2>@udalost.Nazov</h2>
        <table>
            @foreach (var registracia in udalost.RegList)
            {
                <tr>
                    <td>@registracia.Meno</td>
                    <td>@registracia.Telefon</td>
                    <td>@registracia.Email</td>
                    <td>@registracia.Rocnik</td>
                </tr>
            }
        </table>
        <h3>Spolu: @udalost.pocet</h3>
    }
}
@code {
    [Parameter]
    public string? Tenant { get; set; }
    private Udalost[] udalosti;
    protected override async Task OnInitializedAsync()
    {
        var info = await InfoService.GetInfo(Tenant ?? "main");
        udalosti = await UdalostService.GetUdalostiAsync(info.Terminy.Split(","));
        foreach (var udalost in udalosti)
        {
            if (!string.IsNullOrEmpty(udalost.registracie))
            {
                udalost.RegList = JsonSerializer.Deserialize<List<Registracia>>(udalost.registracie);
            }
            else
                udalost.RegList = new List<Registracia>();
        }
    }
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
